* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    color: black;
}

.header {
    height: 2%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    padding: 10px;
    background-color: black;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
}

.nav__cor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    padding:0;
    margin: 0 0;
    border-radius: 20px;
    
}

.nav__cor:hover {
    background-color: #131313;
    transition: 0.5s;
}

.car {
    display: inline-block;
    padding: 5px 13px;
    color: white;
    background-color: white;
    box-shadow: 0 3px 50px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.car:hover {
    padding: 0.2px 10px;
}

.light {
    border: 1px solid black;
    background-color: white;
}

.dark {
    border: 1px solid white;
    background-color: #131313;
}

.img__logo {
    padding: 0;
    padding-left: 6%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    align-items: center;
    text-align: center;
}

.nav__lista {
    justify-content: center;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 10px;
}

.lista__link {
    display: inline-block;

}

.link__button {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px 17px;
    margin: 4px;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 0.5s;
    
}

.link__button:hover {
    color: aqua;
}

#title__home {
    font-family: var(--fonte-principal);
    text-align: center;
    margin-top: 2%;
}

.container {
    justify-content: center;
}

.primeiro {
    display: grid;
    grid-template-columns: 40% 50%;
    height: 80%;
    width: 90%;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin:2% 5%;
    text-align: center;
}

.car__img {
    margin: 2rem 0;
    width: 500px;
    border-radius: 5px;
}

.descricao {
    font-family: var(--fonte-principal);
    align-items: center;
    justify-content: center;
    text-align: justify;
}

#title {
    font-size: 25px;
}

#desc {
    font-size: 15px;
    margin-bottom: 1%;
}


.marca {
    display: flex;
    width: 15%;
    color: black;
    font-family: var(--fonte-principal);
    margin: 1% 5% 0 ;
    padding: 1%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.marca__img {
    width: 50px;
}

.marca__nome {
    color: black;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: #131313;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    text-align: center;
    text-decoration: none;
    padding: 2%;
    gap: 3px;
}

#endereco {
    text-decoration: none;
    color: beige;
}

#direitos {
    color: #c0c0c0;
    font-family: var(--fonte-principal);
    font-weight: 200;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#link__rodape {
    color: #c0c0c0;
}

#date {
    color: white;
}